<!DOCTYPE html>
<html lang ="en">
    <body>
        <h1>Bokeh Starter Graph <h1>
            {{div| safe}}

    </body>
    <script type="text/javascript" src = "https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.4.2.min.js"></script>
    <script type="text/javascript" src = "https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.4.2.min.js"></script>
    <script type="text/javascript" src = "https://cdn.bokeh.org/bokeh/release/bokeh-api-2.4.2.min.js"></script>
    <script type="text/javascript" src = "https://cdn.bokeh.org/bokeh/release/bokeh-gl-2.4.2.min.js"></script>
    <script type="text/javascript" src = "https://cdn.bokeh.org/bokeh/release/bokeh-mathjax-2.4.2.min.js"></script>
    <script type="text/javascript" src = "https://cdn.bokeh.org/bokeh/release/bokeh-2.4.2.min.js"></script>
    {{script | safe}}

</html>
